/* ページの下のほうにある位置情報 */
.fbar.b2hzT {
    display: none;
}

/* でかい地図 */
.AEprdc.vk_c {
    display: none;
}

/* ショッピングの左上らへんにある位置情報 */
.sh-dr__g.zehhyb {
    display: none;
}

/* 他の人はこちらも検索 */
.AUiS2 {
    display: none !important;
}