/* Grokのツイートを非表示 */
article[data-testid="tweet"]:has(a[href^="/i/grok/share/"]) {
    display: none;
}

/* 右下のGrokのやつ */
div[data-testid="GrokDrawer"] {
    display: none;
}

button[aria-label="プロフィールの要約"] {
    display: none;
}

/* パロディアカウント */
div:has(>div>a[href="https://help.x.com/rules-and-policies/authenticity"]) {
    display: none;
}

/* アナリティクスの広告 */
article[data-testid="tweet"] div:has(>div>div>a[href="/i/premium_sign_up"]) {
    display: none;
}